aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1710511613725/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bxpizxa3c/croot/bottleneck_1707864819812/work
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_041uwyxdzo/croot/contourpy_1700583585236/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
fonttools==4.51.0
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1702645562307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
joblib==1.3.2
kiwisolver==1.4.5
llvmlite==0.42.0
loguru @ file:///Users/runner/miniforge3/conda-bld/loguru_1695547409960/work
matplotlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_21m9ylm_7k/croot/matplotlib-suite_1698692123710/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1707040772617/work
munkres==1.1.4
numba==0.59.1
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_45yefq0kt6/croot/numexpr_1696515289183/work
numpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a51i_mbs7m/croot/numpy_and_numpy_base_1708638620867/work/dist/numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=3d90dd3382cff7becb2384f73058a8e72b81c697e8bb77f1c69a82caca5b0c57
owlready2==0.46
packaging==24.0
pandas @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_988rx6x546/croot/pandas_1709590494976/work/dist/pandas-2.2.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=76c40380edef2477387870b6c2ccb59c14e52583ec49c5e254f3e74d918eb901
pillow==10.3.0
pyod==1.1.3
pyparsing==3.1.2
PySide2==5.15.8
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6btwyyj8a1/croot/pytz_1695131592184/work
scikit-learn==1.4.1.post1
scipy==1.13.0
seaborn @ file:///Users/cbousseau/work/recipes/ci_py311/seaborn_1677961968762/work
shiboken2==5.15.8
six @ file:///tmp/build/80754af9/six_1644875935023/work
svgwrite @ file:///home/conda/feedstock_root/build_artifacts/svgwrite_1657874093829/work
threadpoolctl==3.4.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
vtk==9.2.6
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1698265052461/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1705508353407/work
